/* SECTIONS FLASHCARDS */
.section.flashcards {
  margin-top: 90px;
}

.section.mentor .column.right,
.section.flashcards .column.right {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.section.flashcards .column .img {
  width: 65%;
  border-radius: 20px;
  pointer-events: none;
}

.section.mentor .light,
.section.flashcards .light,
.section.sass-compile .light {
  position: absolute;
  top: 50%;
  left: 60%;
  width: 150%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: -1;
}
