/* SPECIFICATIONS */
.specifications {
  position: relative;
  margin-top: 70px;
  padding: 64px 0;
}

.specifications .light {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  max-width: 1300px;
  transform: translate(-50%, -50%);
}

.specifications .inner {
  position: relative;
  z-index: 1;
  max-width: 960px;
  margin: 0 auto;
  padding: 48px 60px;
  border-radius: 16px;
  background-color: #24292f;
  -webkit-box-shadow: 0 0 0 1px #000, 0 30px 30px rgb(0 0 0 / 7%),
    0 15px 15px rgb(0 0 0 / 6%), 0 10px 8px rgb(0 0 0 / 5%),
    0 4px 4px rgb(0 0 0 / 4%), 0 2px 2px rgb(0 0 0 / 3%);
  box-shadow: 0 0 0 1px #000, 0 30px 30px rgb(0 0 0 / 7%),
    0 15px 15px rgb(0 0 0 / 6%), 0 10px 8px rgb(0 0 0 / 5%),
    0 4px 4px rgb(0 0 0 / 4%), 0 2px 2px rgb(0 0 0 / 3%);
}

.specifications .desc {
  margin-top: 10px;
  font-size: 2rem;
  color: var(--color-fg-muted);
}

.specifications table {
  width: 100%;
  margin-top: 40px;
}

.specifications table tr {
  border-top: 1px solid #30363d;
  border-bottom: 1px solid #30363d;
}

.specifications table td {
  padding: 16px 0;
  font-size: 2rem;
}

.specifications table td b {
  font-weight: 600;
  color: #fff;
}
